Source: td-cli
Section: utils
Priority: optional
Maintainer: Ken Gilmer <kgilmer@gmail.com>
Build-Depends: debhelper (>= 11),
               dh-python,
               python3-setuptools,
               python3-all
Standards-Version: 4.4.1
Homepage: https://github.com/darrikonn/td-cli
Testsuite: autopkgtest-pkg-python
X-Python3-Version: >= 3.4

Package: td-cli
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Suggests: td-cli-doc
Description: A todo command line todo manager (Python 3)

Package: td-cli-doc
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Description: Documentation for td-cli (common documentation)
