Source: i3ipc-python
Section: x11
Priority: optional
Maintainer: Ken Gilmer <kgilmer@gmail.com>
Build-Depends: debhelper-compat (= 12),
                dh-python,
                python-all,
                python-setuptools,
                python3-all,
                python3-setuptools
Standards-Version: 4.4.0
Homepage: https://github.com/altdesktop/i3ipc-python
Vcs-Browser: https://github.com/altdesktop/i3ipc-python
Vcs-Git: https://github.com/altdesktop/i3ipc-python.git
X-Python3-Version: >= 3.6

Package: i3ipc-python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-xlib
Description: An improved Python library to control i3wm and sway.