Source: polybar
Section: universe/x11
Priority: optional
Maintainer: Jam Risser <jam@codejam.ninja>
Build-Depends: debhelper (>= 10),
               cmake,
               i3-wm,
               libasound2-dev,
               libcairo2-dev,
               libcurl4-openssl-dev,
               libiw-dev,
               libjsoncpp-dev,
               libmpdclient-dev,
               libnl-genl-3-dev,
               libpulse-dev,
               libxcb-composite0-dev,
               libxcb-cursor-dev,
               libxcb-ewmh-dev,
               libxcb-icccm4-dev,
               libxcb-image0-dev,
               libxcb-randr0-dev,
               libxcb-util0-dev,
               libxcb-xkb-dev,
               libxcb-xrm-dev,
               libxcb1-dev,
               pkg-config,
               python-xcbgen,
               xcb-proto
Standards-Version: 4.1.2
Homepage: https://github.com/jaagr/polybar
Vcs-Git: https://github.com/jaagr/polybar.git
Vcs-Browser: https://github.com/jaagr/polybar.git

Package: polybar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         libcairo2-dev,
         libxcb-composite0-dev,
         libxcb-ewmh-dev,
         libxcb-icccm4-dev,
         libxcb-image0-dev,
         libxcb-randr0-dev,
         libxcb-util0-dev,
         libxcb1-dev,
         python-xcbgen,
         xcb-proto
Description: a fast and easy-to-use status bar
 Polybar aims to help users build beautiful and highly customizable status bars
 for their desktop environment, without the need of having a black belt in shell
 scripting.
 .
 It has built-in functionality to display information about the most commonly
 used services. Some of the services included so far:
 .
 Systray icons
 Window title
 Playback controls and status display for MPD using libmpdclient
 ALSA volume controls
 Workspace and desktop panel for bspwm and i3
 Workspace module for EWMH compliant window managers
 Keyboard layout and indicator status
 CPU and memory load indicator
 Battery display
 Network connection details
 Backlight level
 Date and time label
 Time-based shell script execution
 Command output tailing
 User-defined menu tree
 Inter-process messaging
 And more...
