Source: i3xrocks
Section: x11
Priority: optional
Maintainer: Ken Gilmer <kgilmer@gmail.com>
Build-Depends: debhelper (>= 9), pandoc
Standards-Version: 4.1.0
Homepage: https://github.com/regolith-linux/i3xrocks

Package: i3xrocks
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}
Recommends: i3-wm, 
            acpi [amd64 i386 mipsel], 
            gawk, 
            alsa-utils [linux-any], 
            sysstat [linux-any]
Enhances: i3-wm
Description: i3blocks with xresource value loading
